# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Hugging Face / temp files
.cache/